In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from simpledbf import Dbf5
from dbfread import DBF

PyTables is not installed. No support for HDF output.
SQLalchemy is not installed. No support for SQL output.

In [6]:

dbf= DBF(r"C:\Users\inca\DATA301\group-project\project-group33\R analysis\data\CA\CA_BL.dbf")
dbf_bl = pd.DataFrame(iter(dbf))

#x,y,area of Indigenous Lands

dbf2 = DBF(r"C:\Users\inca\DATA301\group-project\project-group33\R analysis\data\CA\CA_PA.dbf")
dbf_pa = pd.DataFrame(iter(dbf2))

#x,y,area of protected areas

dbf3 =  DBF(r"C:\Users\inca\DATA301\group-project\project-group33\R analysis\data\CA\CA_RP.dbf")
dbf_rp = pd.DataFrame(iter(dbf3))

#x,y,area random polygons, non-protected

In [7]:
dbf_bl

      BL_ID       Area_ha             X             Y
0         1   1097.780956 -1.706988e+06  1.433390e+06
1         2  42425.385773 -1.262735e+06  1.216804e+06
2         3   3546.714044 -7.676702e+05  1.576802e+06
3         4   6689.313692  1.901223e+05  9.536057e+05
4         5   4219.063603  1.202830e+06  4.350238e+05
...     ...           ...           ...           ...
3119   3120  13812.760288 -1.279520e+06  1.593219e+06
3120   3121   1197.819988  1.700731e+06  8.769669e+05
3121   3122      1.702572 -1.155076e+05  1.740449e+06
3122   3123    594.515208 -3.218225e+05  1.748492e+06
3123   3124      3.673194 -3.649301e+05  1.167788e+06

[3124 rows x 4 columns]

In [8]:
dbf_pa

      PA_ID        Area_ha             X             Y
0         1   57236.290806  2.311578e+06  1.619671e+06
1         2  460728.521456  1.197736e+06  1.575025e+06
2         3  887829.688565  1.112296e+06  1.746088e+06
3         4     180.967188  2.209509e+06  1.389117e+06
4         5  132310.828176  1.001032e+06  2.226969e+06
...     ...            ...           ...           ...
6759   6760     242.612449  1.136964e+06  3.718787e+05
6760   6761   19129.447701  1.127249e+06  1.382726e+06
6761   6762    6099.001906  1.118564e+06  1.381635e+06
6762   6763     116.884868  4.789753e+05  8.974837e+05
6763   6764    3047.826560  2.608420e+06  1.356572e+06

[6764 rows x 4 columns]

In [9]:
dbf_rp

      RP_ID        Area_ha             X             Y
0         1      53.191999  1.715261e+06  1.313918e+06
1         2    3520.815350  1.617689e+06  1.219646e+06
2         3     124.754620 -1.894671e+06  1.816167e+06
3         4     326.695860 -1.047457e+06  2.967048e+06
4         5     190.572618 -9.411999e+05  2.194035e+06
...     ...            ...           ...           ...
9995   9996      32.668070  1.693471e+06  2.015063e+06
9996   9997      53.191999 -1.450246e+06  1.460659e+06
9997   9998  119799.324613 -1.164981e+06  1.544125e+06
9998   9999    2888.250380 -6.330547e+05  1.988978e+06
9999  10000      59.452424 -1.952767e+06  2.118998e+06

[10000 rows x 4 columns]

In [13]:

df_taxa_area = pd.read_csv(r"C:\Users\inca\DATA301\group-project\project-group33\R analysis\output\Supp_mat_Table_CA.csv")
#name,taxa,IUCN status, % each land type

In [14]:
df_taxa_area

,Name,Taxa,IUCN Status,Total area,Indigenous lands area,Protected area,Percent on IL,Percent on PA
0,Accipiter cooperii,Birds,LC,8.209158e+11,1.344253e+10,9.191106e+10,1.637504,11.196162
1,Accipiter gentilis,Birds,LC,6.745660e+12,1.462687e+11,6.723923e+11,2.168338,9.967775
2,Accipiter striatus,Birds,LC,5.218404e+12,1.436711e+11,5.284571e+11,2.753161,10.126797
3,Acris crepitans,Amphibians,LC,3.660903e+07,0.000000e+00,9.291127e+05,0.000000,2.537933
4,Actinemys marmorata,Reptiles,VU,6.058121e+09,2.600110e+07,1.684018e+09,0.429194,27.797697
...,...,...,...,...,...,...,...,...
686,Zonotrichia albicollis,Birds,LC,5.050491e+12,7.269958e+10,4.722722e+11,1.439456,9.351016
687,Zonotrichia atricapilla,Birds,LC,9.085678e+11,2.446415e+10,1.597776e+11,2.692606,17.585656
688,Zonotrichia leucophrys,Birds,LC,4.923392e+12,3.079566e+11,5.841495e+11,6.254969,11.864777
689,Zonotrichia querula,Birds,LC,1.691911e+12,2.761746e+11,1.981963e+11,16.323239,11.714345
690,Zoothera naevia,Birds,LC,1.774131e+12,9.264874e+10,2.562034e+11,5.222204,14.441062

In [16]:
df_biodiv = pd.read_csv(r"C:\Users\inca\DATA301\group-project\project-group33\R analysis\output\Spp_group_detail_update.csv")
#Canada, Brazil, Australia:land type, biodiversity richness,taxa and IUCN most endangered

In [17]:
df_biodiv

,name,ClassBL_ID,2.5 %,97.5 %,ClassPA_ID,2.5 %.1,97.5 %.1,ClassRP_ID,2.5 %.2,97.5 %.2
0,AU.AM,2.730530,2.709061,2.752112,2.513366,2.499115,2.527662,2.340550,2.326306,2.354835
1,AU.BR,5.277432,5.267733,5.287160,5.302828,5.295818,5.309854,5.130212,5.123372,5.137067
2,AU.MA,3.530891,3.518804,3.543008,3.358568,3.350472,3.366676,3.321877,3.313983,3.329782
3,AU.RE,2.691339,2.677722,2.704983,2.161355,2.150573,2.172144,2.419799,2.409813,2.429796
4,AU.AM.IUCN,1.138098,1.102814,1.173248,0.569955,0.548520,0.591305,0.895765,0.850384,0.940853
5,AU.BR.IUCN,1.218775,1.200542,1.236945,1.509343,1.498263,1.520404,0.963789,0.949904,0.977631
6,AU.MA.IUCN,0.966827,0.942851,0.990612,0.840870,0.823981,0.857665,0.669701,0.649985,0.689288
7,AU.RE.IUCN,1.281359,1.257098,1.305426,0.603727,0.558836,0.647956,0.768713,0.734808,0.802238
8,BR.AM,4.227088,4.199341,4.255043,4.162213,4.139870,4.184688,4.118492,4.110992,4.126007
9,BR.BR,6.131266,6.117146,6.145445,6.052237,6.040884,6.063627,6.020114,6.016312,6.023920
10,BR.MA,4.953264,4.938241,4.968337,4.893720,4.881578,4.905895,4.896356,4.892305,4.900410
11,BR.RE,3.082715,3.057962,3.107509,2.838780,2.817856,2.859716,3.044799,3.038111,3.051489
12,BR.AM.IUCN,0.201740,0.003185,0.387960,0.297252,0.207381,0.384504,0.156698,0.091268,0.220731
13,BR.BR.IUCN,2.052227,2.010211,2.094374,2.105931,2.072120,2.139837,2.035526,2.024178,2.046883
14,BR.MA.IUCN,1.861529,1.830439,1.892382,1.590970,1.562629,1.619099,1.822999,1.814530,1.831449
15,BR.RE.IUCN,0.698548,0.639242,0.756702,0.816149,0.767250,0.864262,0.658026,0.641238,0.674720
16,CA.AM,1.648132,1.625576,1.670688,2.197534,2.184061,2.211024,1.466758,1.451218,1.482290
17,CA.BR,4.980055,4.964468,4.995718,4.932325,4.921761,4.942925,4.525592,4.516821,4.534386
18,CA.MA,3.699903,3.683785,3.716087,3.674117,3.663266,3.684998,3.382670,3.373690,3.391669
19,CA.RE,1.194125,1.162914,1.225373,1.317958,1.298132,1.337807,0.973874,0.945236,1.002514
20,CA.BR.IUCN,0.409028,0.376432,0.441273,0.242380,0.220059,0.264536,0.163456,0.144857,0.181941
21,CA.MA.IUCN,0.055293,-0.003481,0.112935,0.092920,0.045187,0.139904,0.390945,0.372292,0.409482
22,CA.RE.IUCN,0.828574,0.774911,0.881293,0.597272,0.564138,0.630043,0.554997,0.482854,0.625443